

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  .nav-2 {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .nav-pranzo {
    background-color: #ef9206;
  } 

  .nav-cena {
    background-color: #e13d3d;
  }

  .nav-drink {
    background-color: #d91286;
  }

  .nav-2 span {
    margin-left: 18px;
    cursor: pointer;
    margin-top: 20px;
  }

  .nav-2 * {
    color: white;
    cursor: pointer;
  }
  .bg-span {
    background-color: aqua;
    
  }

  h1 {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .bg-fire {
    background-color: rgb(230, 164, 78);
  }

  // navbar

  .ceruleo {
    background-color: #42a0bd !important;
  }

  


  .try-bg:active{
    background-color: white;
    border-radius: 25px;
  }

  @media only screen and (min-width: 576px) {
    .bg-fire {
      background-color: unset;
    }
  }